.Sidebar {
    display: flex;
    padding: 1rem 0;
    height: 100vh;
    flex: 0 50px;
    flex-direction: column;
    background-color: #f2f2f2;
    justify-content: space-between;
}

.Sidebar-Group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sidebar-Icon {
    margin: .5rem 0;
    font-size: 1.25rem;
    color: #999;
    /* cursor: pointer; */
}

.Sidebar-Icon:hover {
    color: #333;
}

.Sidebar-Icon.off {
    color: #ff9393;
}

.Sidebar-Icon.on {
    color: #33ca59;
    animation: Power-logo-spin infinite 5s linear;
}

@keyframes Power-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
